<!DOCTYPE html>
{{/* Multilang support for lang attribute */}}
<html lang="{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}" prefix="og: https://ogp.me/ns#{{ if in .Site.Params.mainTypes .Type }} article: https://ogp.me/ns/article#{{ end }}" class="h-feed">
  {{ partial "head" . }}
  <body>
    <!-- BGN: YourOnly.One Body-01-Top -->
      {{- if templates.Exists "partials/youronly.one-body-01-top.html" -}}
        {{ partial "youronly.one-body-01-top.html" . }}
      {{- end }}
    <!-- END: YourOnly.One Body-01-Top -->
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
    <!-- BGN: YourOnly.One Body-02-Bottom -->
      {{- if templates.Exists "partials/youronly.one-body-02-btm.html" -}}
        {{ partial "youronly.one-body-02-btm.html" . }}
      {{- end }}
    <!-- END: YourOnly.One -02-Bottom -->
  </body>
</html>
