<article class="h-entry post" data-clarity-region="article">
  {{ .Render "header" }}
  <div class="e-content content">
    {{ .Render "featured" }}
    {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "" | safeHTML ) | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | replaceRE "<p>" "<p class='p-summary'>") }}
    {{ $.Scratch.Get "summary" | safeHTML }}
  </div>
  <footer>
    <a href="{{ .Permalink }}" class="u-url button big">{{ i18n "read_more" }}</a>
    {{ .Render "stats" }}
  </footer>
</article>
