<div class="stats">
  {{ if .Params.categories }}
    <ul class="categories">
      {{ range ( .GetTerms "categories" ) }}
        <li><a href="{{ .Permalink }}" class="p-category article-terms-link" rel="category">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  {{ else if .Site.Params.hideEmptyStats }}
  {{ else }}
    <ul class="categories">
      <li>None</li>
    </ul>
  {{ end }}
  {{ if .Params.tags }}
    <ul class="tags">
      {{ range ( .GetTerms "tags" ) }}
        <li><a href="{{ .Permalink }}" class="p-category article-terms-link" rel="tag">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  {{ else if .Site.Params.hideEmptyStats }}
  {{ else }}
    <ul class="tags">
      <li>None</li>
    </ul>
  {{ end }}
</div>
