body, input, select, textarea {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
pre {
  font-family: var(--font-mono-yelosan, monospace);
}
code, kbd, samp {
  font-family: var(--font-mono-yelosan, monospace);
}
input[type=submit], input[type=reset], input[type=button], .button {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
.meta {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
.stats ul li {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
.nav {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
.mini-post header time {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
.copyright {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}
#site-sidebar ul {
  font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
}

table>tbody>tr>td:first-child::after {
  font-family: "font awesome 5 free", "ForkAwesome";
}
.stats ul {
  font-family: "font awesome 5 free", "ForkAwesome";
}
.left::before, .right::before {
  font-family: "font awesome 5 free", "ForkAwesome";
}
a.fab, .fab {
  font-family: 'font awesome 5 brands', 'ForkAwesome';
}
a.far, .far {
  font-family: 'font awesome 5 free', 'ForkAwesome';
}
a.fa, .fa, a.fas, .fas {
  font-family: 'font awesome 5 free', 'ForkAwesome';
}
.new-comment .reply-notice .reply-name::before {
  font-family: "font awesome 5 free", "ForkAwesome";
}
.comment-reply-btn::before {
  font-family: "font awesome 5 free", "ForkAwesome";
}
.twitter::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.facebook::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.linkedin::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.pinterest::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.reddit::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.vk::before {
  font-family: "font awesome 5 brands", "ForkAwesome";
}
.email::before {
  font-family: "font awesome 5 free", "ForkAwesome";
}

figure {
  text-align: center;
}
figcaption {
  font-style: initial;
}
figcaption.attribution_name {
  color: unset;
}
@media (min-width: 1024px){
#wrapper {
  grid-template-areas: "intro main"
                        "sidebar main"
                        "blank main"
                        "footer footer";
}}
html body .nowplayingcard {
  --box-shadow-color: rgba(255, 0, 120, 1) !important;
}
html body .nowplayingcard .trackInfo #tracktitle,
html body .nowplayingcard .trackInfo #trackalbum,
html body .nowplayingcard .trackInfo #trackartist {
  color: rgba(255, 0, 120, 0.7) !important;
}
aside.partofseries {
  border: 1px dotted rgba(161,161,161,0.7);
  margin-top: 0.7rem;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
}
