body, input, select, textarea {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), source sans pro, Helvetica, var(--base-sans-font);
}
pre {
	font-family: "Noto Sans Mono", var(--base-monospace-font);
}
code, kbd, samp {
	font-family: "Noto Sans Mono", var(--base-monospace-font);
}
input[type=submit], input[type=reset], input[type=button], .button {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
.meta {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
.stats ul li {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
.nav {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
.mini-post header time {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
.copyright {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
#site-sidebar ul {
	font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
}
/* BGN: multilingual support */
	h1, h2, h3, h4, h5, h6 {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), raleway, Helvetica, var(--base-sans-font);
	}
	h1:lang(zh-Hans), h2:lang(zh-Hans), h3:lang(zh-Hans), h4:lang(zh-Hans), h5:lang(zh-Hans), h6:lang(zh-Hans) {
		font-family: var(--notosans-font), "Noto Sans CJK SC", "Noto Sans SC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	h1:lang(zh), h2:lang(zh), h3:lang(zh), h4:lang(zh), h5:lang(zh), h6:lang(zh),
	h1:lang(zh-Hant), h2:lang(zh-Hant), h3:lang(zh-Hant), h4:lang(zh-Hant), h5:lang(zh-Hant), h6:lang(zh-Hant) {
		font-family: var(--notosans-font), "Noto Sans CJK TC", "Noto Sans TC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
		font-family: var(--notosans-font), "Noto Sans CJK JP", "Noto Sans JP", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	h1:lang(ko), h2:lang(ko), h3:lang(ko), h4:lang(ko), h5:lang(ko), h6:lang(ko) {
		font-family: var(--notosans-font), "Noto Sans CJK KR", "Noto Sans KR", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	.meta, .nav, time, header time,
	article, header, footer, li, p, a,
	.content {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	.meta:lang(zh-Hans), .nav:lang(zh-Hans), time:lang(zh-Hans), header time:lang(zh-Hans),
	article:lang(zh-Hans), header:lang(zh-Hans), footer:lang(zh-Hans), li:lang(zh-Hans), p:lang(zh-Hans), a:lang(zh-Hans),
	.content:lang(zh-Hans) {
		font-family: var(--notosans-font), "Noto Sans CJK SC", "Noto Sans SC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	.meta:lang(zh), .nav:lang(zh), time:lang(zh),
	article:lang(zh), header:lang(zh), footer:lang(zh), li:lang(zh), p:lang(zh), a:lang(zh),
	.content:lang(zh),
	.meta:lang(zh-Hant), .nav:lang(zh-Hant), time:lang(zh-Hant),
	article:lang(zh-Hant), header:lang(zh-Hant), footer:lang(zh-Hant), li:lang(zh-Hant), p:lang(zh-Hant), a:lang(zh-Hant),
	.content:lang(zh-Hant) {
		font-family: var(--notosans-font), "Noto Sans CJK TC", "Noto Sans TC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	.meta:lang(ja), .nav:lang(ja), time:lang(ja),
	article:lang(ja), header:lang(ja), footer:lang(ja), li:lang(ja), p:lang(ja), a:lang(ja),
	.content:lang(ja) {
		font-family: var(--notosans-font), "Noto Sans CJK JP", "Noto Sans JP", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
	.meta:lang(ko), .nav:lang(ko), time:lang(ko), header time:lang(ko),
	article:lang(ko), header:lang(ko), footer:lang(ko), li:lang(ko), p:lang(ko), a:lang(ko),
	.content:lang(ko) {
		font-family: var(--notosans-font), "Noto Sans CJK KR", "Noto Sans KR", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
	}
/* END: multilingual support */

table>tbody>tr>td:first-child::after {
	font-family: "font awesome 5 free", "ForkAwesome";
}
.stats ul {
	font-family: "font awesome 5 free", "ForkAwesome";
}
.left::before, .right::before {
	font-family: "font awesome 5 free", "ForkAwesome";
}
a.fab, .fab {
	font-family: 'font awesome 5 brands', 'ForkAwesome';
}
a.far, .far {
	font-family: 'font awesome 5 free', 'ForkAwesome';
}
a.fa, .fa, a.fas, .fas {
	font-family: 'font awesome 5 free', 'ForkAwesome';
}
.new-comment .reply-notice .reply-name::before {
	font-family: "font awesome 5 free", "ForkAwesome";
}
.comment-reply-btn::before {
	font-family: "font awesome 5 free", "ForkAwesome";
}
.twitter::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.facebook::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.linkedin::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.pinterest::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.reddit::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.vk::before {
	font-family: "font awesome 5 brands", "ForkAwesome";
}
.email::before {
	font-family: "font awesome 5 free", "ForkAwesome";
}

figure {
	text-align: center;
}
figcaption {
	font-style: initial;
}
figcaption.attribution_name {
	color: unset;
}
@media (min-width: 1024px){
#wrapper {
	grid-template-areas: "intro main"
												"sidebar main"
												"blank main"
												"footer footer";
}}
html body .nowplayingcard {
	--box-shadow-color: rgba(255, 0, 120, 1) !important;
}
html body .nowplayingcard .trackInfo #tracktitle,
html body .nowplayingcard .trackInfo #trackalbum,
html body .nowplayingcard .trackInfo #trackartist {
	color: rgba(255, 0, 120, 0.7) !important;
}
aside.partofseries {
	border: 1px dotted rgba(161,161,161,0.7);
	margin-top: 0.7rem;
	-webkit-padding-start: 1.5rem;
	        padding-inline-start: 1.5rem;
}
/* Already have one above
.fa {
	font-family: "ForkAwesome";
}
*/
